* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

#hero {
    background-image: url(../img/bg.jpg);
    background-repeat: round;
    background-size: cover;
    min-height: 400px;
}