<nav class="navbar navbar-expand-xl bg-dark">
    <div class="container text-center navbar-expand-xl">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="btn-outline-light">
                <p class="text-light fs-3">Start Bootstrap</p>
            </span>



            <div class="col-3">
                <p class="text-light">About</p>
            </div>

            <div class="col-3">
                <p class="text-light">Services</p>
            </div>

            <div class="col-3">
                <p class="text-light">Portfolio</p>
            </div>

            <div class="col-3">
                <p class="text-light">Contact</p>
            </div>


        </a>


    </div>


</nav>