<nav class="navbar navbar-dark navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand align-middle" href="#">Start Bootstrap</a>
        <button class="navbar-toggler text-body-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Services</a>
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Portfolio</a>
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <!--
    <div class="container text-center navbar-expand-lg">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <div class="col">
                <p class="text-light fs-3">Start Bootstrap</p>
            </div>
            <div class="col-3">
                <p class="text-light fs-6">About</p>
            </div>

            <div class="col-3">
                <p class="text-light fs-6">Services</p>
            </div>

            <div class="col-3">
                <p class="text-light fs-6">Portfolio</p>
            </div>

            <div class="col-3">
                <p class="text-light fs-6">Contact</p>
            </div>
        </a>
    </div>
    -->
</nav>